# Analiza i bazy danych

##  Transakcje i ACID 
### dr  inż. Waldemar Bauer

## Współbieżność

- możliwość wykonywania w jednym systemie jednocześnie wielu operacji 
- równoległe wykorzystanie zasobów
- problemy współbieżności w bazach danych:
    - zakleszczenia,
    - zagłodzenia,
    - faworyzacja wątków,
    - niepoprawne odczyty danych,

## Transakcja

- Zbiór operacji na bazie danych które tworzą jednostkę logiczną, która jest niezależnie wykonywana w celu przeprowadzeniu bazy danych z jednego stanu w drugi.
- Operajce powinny być wykonane tak by wykonały się wszystkie operacje jeżeli to nie nastąpi baza powinna wrócić do stanu przed transkacją
- Mechanizm zapewniajacy współbieżność w systemach bazowanowych

## Etapy transakcji

<img src='img/transaction_schema.png'>

## Polecenia związane z trnsakcjami

- BEGIN - rozpoczęcie transakcji.
- COMMIT − zatwierdzenie zmian.
- ROLLBACK − cofnięcie zmian.
- SAVEPOINT − stworzenie punktu zapisu stanu bazy do wycofania transakcji.
- RELEASE SAVEPOINT - skasowanie punktu pośredniego.
- ROLLBACK TO SAVEPOINT - wycofanie transakcji do punktu zapisu.

## Przykładowa tabela

| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  9 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 10 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

## COMMIT

```sql
BEGIN;
update authors set id=100  where id = 10;
update authors set id=90  where id = 9;
commit;
```
Results:

| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  90 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 100 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

##  ROLLBACK po COMMIT

```sql
BEGIN;
update authors set id=10  where id = 100;
update authors set id=9  where id = 90;

commit;

rollback;

select * from authors where id in (100, 90) order by id ;

```

### Wyniki:

| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
| 	    |                    	|               	|           	|

## Stan po operacjach
```sql
select * from authors order by id;
```

<center>
    
| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  9 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 10 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

</center>

##  ROLLBACK przed COMMIT

```sql
BEGIN;
update authors set id=100  where id = 10;
update authors set id=90  where id = 9;

rollback;

commit;

select * from authors where id in (100, 90) order by id ;

```

### Wyniki:

| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
| 	    |                    	|               	|           	|

## Stan po operacjach
```sql
select * from authors order by id;
```

<center>
    
| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  9 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 10 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

</center>

## Transaction SAVEPOINT

```sql
BEGIN;
update authors set id=100  where id = 10;
update authors set id=90  where id = 9;
savepoint test_1;

update authors set id=10  where id = 100;
update authors set id=9  where id = 90;

rollback to test_1;
commit;

select * from authors where id in (100, 90) order by id ;

```
### Results
<center>
    
| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  90 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 100 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

</center>

## Zasady ACID

<center> <img src='img/acid_rule.png'> </center>

## Atomowość

- **''Wszystko albo nic''**
- System atomowy musi gwarantować atomowość w każdej sytuacji.
- Atomicity gwarantuje, że każda transakcja jest traktowana jako pojedyncza „jednostka”.

## Atomowość przykład

|  Begin  	|   X = 200   	|   Y = 300   	|
|:-------:	|:-----------:	|:-----------:	|
| Execute 	|   Read(X)   	|   Read(Y)   	|
|         	| X = X - 100 	| Y = Y + 100 	|
|  Commit 	|   Write(X)  	|   Write(Y)  	|
|  After  	|   X = 100   	|   Y = 400   	|

## Spójność

- Gwarancja, że każda transakcja w przyszłości zobaczy skutki innych transakcji wykonanych w przeszłości.
- Gwarancja, że ograniczenia bazy danych nie są naruszane przez zatwierdzanie transakcji.
- Zagwarantowanie, że operacje w transakcjach są wykonywane dokładnie, poprawnie i z poprawnością, zgodnie z regułami serwera bazy danych.
- Nie gwarantuje to poprawności wykonanania transakcji

## Spójność przykład

|  Begin  	|   X = 200   	|   Y = 300   	| X + Y = 500 	|
|:-------:	|:-----------:	|:-----------:	|-------------	|
| Execute 	|   Read(X)   	|   Read(Y)   	|             	|
|         	| X = X - 100 	| Y = Y + 100 	|             	|
|  Commit 	|   Write(X)  	|   Write(Y)  	|             	|
|  After  	|   X = 100   	|   Y = 400   	| X + Y = 500 	|

## Izolacja
- Możliwość wykonania wielu transakcji jednocześnie, bez powodowania niespójności stanu bazy danych.
- Transakcje odbywają się niezależnie.
- Zmiany zachodzące w danej transakcji nie będą widoczne dla żadnej innej transakcji, dopóki ta konkretna zmiana w tej transakcji nie zostanie zapisana w pamięci lub nie zostanie zatwierdzona.
- Ta właściwość zapewnia, że jednoczesne wykonanie transakcji spowoduje stan, który jest równoważny ze stanem, w którym zostały one wykonane seryjnie w określonej kolejności.

## Po co nam izolacja?

|         	| Transaction 1 	| Transaction 2 	|
|:-------:	|:-------------:	|:-------------:	|
|  Begin  	|       Y       	|      X,Y      	|
| Execute 	|    Read(Y)    	|    Read(X)    	|
|         	|    Y = Y-50   	|    Read(Y)    	|
|         	|               	|   X = X + Y   	|
|  Commit 	|    Write(Y)   	|    Write(X)   	|
|  After  	|    Y = ???    	|    X = ???    	|

## Problemy izolacji
- Dirty Reads - brudny odczyt
- Lost updates - stracona aktualizacja	
- Non-repeatable Reads - niepowtarzalny odczyt
- Phantom Reads - odczyt widmo

## Dirty Reads

|              Transaction 1             	|                   Transaction 2                  	|
|:--------------------------------------:	|:------------------------------------------------:	|
|                 BEGIN;                 	|                      BEGIN;                      	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = William           	| UPDATE authors SET name = "Willie" WHERE id = 1; 	|
|                                        	|                 -- brak coomitu                	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = Willie            	|                                                  	|

## Non-repeatable Reads
|              Transaction 1             	|                   Transaction 2                  	|
|:--------------------------------------:	|:------------------------------------------------:	|
|                 BEGIN;                 	|                      BEGIN;                      	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = William           	| UPDATE authors SET name = "Willie" WHERE id = 1; 	|
|                                        	|                      COMMIT;                     	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = Willie            	|                                                  	|

## Lost updates
|                 Transaction 1                	|                   Transaction 2                  	|
|:--------------------------------------------:	|:------------------------------------------------:	|
|                    BEGIN;                    	|                      BEGIN;                      	|
|    SELECT name FROM authors WHERE id = 1;    	|      SELECT name FROM authors WHERE id = 1;      	|
|               -- name = William              	|                 -- name = William                	|
|                                              	| UPDATE authors SET name = "Willie" WHERE id = 1; 	|
| UPDATE authors SET name = "W." WHERE id = 1; 	|                                                  	|
|                    COMMIT                    	|                                                  	|
|    SELECT name FROM authors WHERE id = 1;    	|                                                  	|
|                  -- name = W                 	|                      COMMIT                      	|
|                                              	|      SELECT name FROM authors WHERE id = 1;      	|
|                                              	|                 -- name = Willie                 	|
|    SELECT name FROM authors WHERE id = 1;    	|                                                  	|
|               -- name = Willie               	|                                                  	|

## Phantom Reads
|         Transaction 1         	|                                      Transaction 2                                     	|
|:-----------------------------:	|:--------------------------------------------------------------------------------------:	|
|             BEGIN;            	|                                         BEGIN;                                         	|
| SELECT count(*) FROM authors; 	|                                                                                        	|
|          -- count= 10         	| Insert into authors(name,surname,born_date) Values ("A.", "Mickiewicz", "24.12.1798"); 	|
|                               	|                                         COMMIT;                                        	|
| SELECT count(*) FROM authors; 	|                                                                                        	|
|          -- count= 11         	|                                                                                        	|

## Izolacja w bazach danych 
- Implementowana przez planowanie wykonania transakcji 
- Zakładanie blokad (protokół ścisłego blokowania dwufazowego - Strict 2PL)

## Poziomy izolacji

| Poziomy izolacji  	|                    Dirty reads                   	|                   Lost updates                   	|              Non-repeatable reads              	|                  Phantoms reads                  	|
|------------------	|:------------------------------------------------:	|:------------------------------------------------:	|:----------------------------------------------:	|:------------------------------------------------:	|
| Read Uncommitted 	|    <span style="color:red"> Możliwy </span>    	|    <span style="color:red"> Możliwy </span>    	|   <span style="color:red"> Możliwy </span>   	|    <span style="color:red"> Możliwy </span>    	|
| Read Committed   	|  <span style="color:green"> Brak</span>  	|    <span style="color:red"> Możliwy </span>    	|   <span style="color:red"> Możliwy </span>   	|    <span style="color:red"> Możłiwy </span>    	|
| Repeatable Read  	| <span style="color:green">  Brak  </span> 	| <span style="color:green">  Brak  </span> 	| <span style="color:green"> Brak </span> 	|    <span style="color:red"> Możliwy </span>    	|
| Serializable     	| <span style="color:green">  Brak  </span> 	| <span style="color:green">  Brak  </span> 	| <span style="color:green"> Brak </span> 	| <span style="color:green">  Brak  </span> 	|