In [1]:
%%HTML
<style>
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
     font-size: 80%;
}
</style>

# Analiza i bazy danych
## Tabela w relacyjnym modelu bazy danych
### dr inż. Waldemar Bauer

## Tabela (relacja) w bazie danych
- Jedyna struktura danych w modelu relacyjnym, tabela jest relacją
- Najprostrzy sposób przechowywania danych
- Każda tabela ma unikatową nazwę
- W modelu relacyjnym bazy danych tabela jest kolekcją danych reprezenrtowanych przez wiersze i kolumny
- Tabla w prost może służyć do przedstawienia realcji
- Jednak sama tabela może zawierać duplikaty które nie dopuszczale są w realicyjnym modelu, dlatego stosuje się __klucze głowne__ (*ang.* primary key)

|id|imie|nazwisko|wiek|
|-|-|-|-|
|1|Adel|Orion|21|
|2|Marek|Papier|22|
|3|Zuzanna| Iskra|24|
|4|Adel|Orion|21|

## Krotka

- Pojedynczy wpis w tabeli (wiersz) nazywa się krotką lub rekordem
- Krotka w tabeli reprezentuje zestaw połączonych ze sobą danych

|id|imie|nazwisko|wiek|
|-|-|-|-|
|3|Zuzanna| Iskra|24|

## Atrybut

- Tabela składa się z kilku rekordów (wierszy), każdy rekord można podzielić na kilka części zwanych atrybutami (kolumna)
- Kolumny w ramach tabel posiadają indywidualne nazwy

- Kiedy atrybut jest częścią relacji (tabeli), jest zdefiniowany tak, aby przechowywał tylko określony typ wartości, zwany __domeną atrybutu__

|Imię|
|-|
|Anna|
|Marta|
|Wojtek|
|Marcin|

## Rodzaje zmiennych w SQL

- Nie wszystkie typy danych są obsługiwane przez serwery relacyjnych baz danych. Dla przykład baza danych Oracle nie obsługuje DATETIME.

- Niektóre systemy bazodanowe posiadają własne dedykowane typy danych.  Na przykład Microsoft SQL Serwer posida typ *money* i *smallmoney*, nie obsługiwany przez inne bazy danych

## Zmienne liczbowe
|Nazwa|Rozmiar|Opis|Zakres|
|-|-|-|-|
|smallint|2B|małe liczby całkowite|	\[-32768, +32767\]|
|integer|4B|liczby całkowite|\[-2147483648, +2147483647\]|
|bigint|8B|	duże liczby calkowite|\[-9223372036854775808, 9223372036854775807\]|
|decimal|zmienny|użytkownik deklaruje dokładność| do 131072 liczb przed kropką dzisiętną;<br> do 16383 liczb za kropką dzisiętną|
|numeric|zmienny|użytkownik deklaruje dokładność| do 131072 liczb przed kropką dzisiętną;<br> do 16383 liczb za kropką dzisiętną|
|real|4B|zmienna precyzja|6 miejsc po przecinku|
|double precision|8B|zmienna precyzja| 15 miejsc po przecinku|
|serial|4B|	autoinkrementowany int|	1 do 2147483647|
|bigserial|8B|duży autoinkrementowany int|	1 do 9223372036854775807|

## Zmienne reprezentujące czas

|Nazwa|Rozmiar|Zakres|Rozdzielczość|
|-|-|-|-|
|Timestamp without timezone|8B|	od 4713 BC do 294276 AD|1μs/14 cyfr|
|Timestamp with timezone|8B| od 4713 BC do 294276 AD|1μs/14 cyfr|
|date|4B| od 4713 BC do 294276 AD|	jeden dzień|
|Time without timezone|8B| od 00:00:00 do 24:00:00|1μs/14 cyfr|
|Time with timezone|12B| od	00:00:00 + 1459 do 24:00:00-1459|1μs/14 cyfr|
|Interval|12B|od -178000000 do 178000000 lat|1μs/14 cyfr|

## Zmienne łańcuchów znaków

|Nazwa|	Opis|
|-|-|
|varchar(n)|Pozwala zadeklarować zmienną długość z ograniczeniem|
|Char(n)| Zadeklarowan długość|	
|Text|	Nieograniczona długość|

## Zmienne binarne
|Nazwa|Opis|
|-|-|
|BINARY| Stała długość 8000B|
|VARBINARY| Zmienna długość do 8000B|
|VARBINARY(max)| Zmienna długość do 2GB|
|IMAGE|Zmienna długość do 2GB|

## Zmienne specjalne

|Nazwa|Opis|
|-|-|
|CLOB| Obikety do 2GB|
|BLOB| Obikety binarne do 2GB|
|XML| do tekstów XML|
|JSON| do tekstów JSON|

## Zmienna NULL

- Wartość NUll jest specjalną zmienną

- Reprezentuje brakujące wartości 

- Pole o wartości NULL jest polem bez wartości. 

- Bardzo ważne jest, aby zrozumieć, że wartość NULL różni się od wartości zerowej lub pola zawierającego spacje

|id|imie|nazwisko|wiek|adres|
|-|-|-|-|-|
|1|Adel|Orion|21|Szkolna|
|2|Marek|Papier|22|Null|
|3|Zuzanna| Iskra|24| |
|4|Adel|Orion|21|Borowa|

## Ograniczenia w tabeli

- Opis tabeli może wymuszać ograniczenia na poszczególnych kolumnach,
- Ograniczenia muszą być spełnione przez dane dodawane do tabeli,
- Ten rodzaj ograniczeń nazywamy ograniczeniami integralności, 
- Rodzaje ograniczenia:
    - klucz podstawowy (PRIMARY KEY),
    - klucz obcy (FOREIGN KEY),
    - unikalność (UNIQUE),
    - zawężenie domeny/dziedziny (CHECK),
    - wartość pusta/niepusta (NULL/NOT NULL).

## Przykład opisu tabeli w SQL
```SQL
CREATE TABLE Persons (
    ID int PRIMARY KEY,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int CHECK (Age>=18)
);
```


## Własności relacji podsumowanie

- Każda relacja ma jednoznaczną nazwę w ramach bazy danych,
- W ramach jednej relacji atrybuty mają jednoznaczne nazwy,
- Wszystkie wartości w kolumnie są tego samego typu (zdefiniowane w tej samej dziedzinie),
- Kolejność kolumn w relacji nie ma znaczenia,
- W relacji nie istnieją powtarzające się krotki,
- Kolejność krotek nie ma znaczenia,
- wszystkie dane w tablei spełniają ograniczenia kolun do których należą,
- Każde pole na przecięciu kolumna/wiersz ma wartość atomową.